$interactive: #00ddff;

$headings: #333;
$subHeadings: #4f4f4f;

$bodyText: #1a1a1a;
$front: #fafafa;
$side: #e0e0e0;
$bottom: #f2f2f2;

$saveText: #003300;
$saveFront: #c0ffc0;
$saveSide: #a1d6a1;
$saveBottom: #ace5ac;
// save thumb letter drop shadow: #97c697

$trashText: #ff00cf;
$trashFront: #ffe6f6;
$trashSide: #ddcad7;
$trashBottom: #edd9e6;
// trash thumb letter drop shadow: #c9b8c3


$bodyFont: 'Gotham-Book', 'Gotham Book', 'Raleway', Helvetica, Arial, sans-serif;
$italicFont: 'Gotham-BookItalic', 'Gotham Book Italic', Gotham-BookItalic, 'Raleway', Helvetica, Arial, sans-serif;
$boldFont: 'Gotham-Bold', 'Gotham Bold', 'Raleway', Helvetica, Arial, sans-serif;
$boldItalicFont: 'Gotham-BoldItalic', 'Gotham Book Italic', 'Raleway', Helvetica, Arial, sans-serif;

$headFont: 'Gotham-Black', 'Gotham Black', Gotham-Black, 'Raleway', Helvetica, Arial, sans-serif;
$headBold: 'Gotham-Ultra', 'Gotham Ultra', Gotham-Ultra, 'Raleway', Helvetica, Arial, sans-serif;
$headItalic: 'Gotham-BlackItalic', 'Raleway', Helvetica, Arial, sans-serif;
$headBoldItalic: 'Gotham-UltraItalic', 'Raleway', Helvetica, Arial, sans-serif;

$ultraFont: 'Gotham-Ultra', 'Gotham Ultra', Gotham-Ultra, 'Raleway', Helvetica, Arial, sans-serif;
$descriptionFont: 'Acid-Italic', sans-serif;
$codeFont: 'Inconsolata', 'Andale Mono', 'Courier New', monospace;

$mainBreak: 'max-width: 500px';

$dur: 0.5s;