@font-face {
	font-family: 'Inconsolata';
	src: url('../../fonts/inconsolata-regular-webfont.eot');
	src: url('../../fonts/inconsolata-regular-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../../fonts/inconsolata-regular-webfont.woff2') format('woff2'),
			 url('../../fonts/inconsolata-regular-webfont.woff') format('woff'),
			 url('../../fonts/inconsolata-regular-webfont.ttf') format('truetype'),
			 url('../../fonts/inconsolata-regular-webfont.svg#inconsolataregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Acid-Italic';
	src: url('../../fonts/acid_italic-webfont-webfont.eot');
	src: url('../../fonts/acid_italic-webfont-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../../fonts/acid_italic-webfont-webfont.woff') format('woff'),
			 url('../../fonts/acid_italic-webfont-webfont.ttf') format('truetype'),
			 url('../../fonts/acid_italic-webfont-webfont.svg#aciditalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham-Black';
	src: url('../../fonts/Gotham-Black.eot');
	src: url('../../fonts/Gotham-Black.eot#iefix'),
			 url('../../fonts/Gotham-Black.woff') format('woff'),
			 url('../../fonts/Gotham-Black.ttf') format('truetype'),
			 url('../../fonts/Gotham-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham-BlackItalic';
	src: url('../../fonts/Gotham-BlackItalic.eot');
	src: url('../../fonts/Gotham-BlackItalic.eot#iefix'),
			 url('../../fonts/Gotham-BlackItalic.woff') format('woff'),
			 url('../../fonts/Gotham-BlackItalic.ttf') format('truetype'),
			 url('../../fonts/Gotham-BlackItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham-Book';
	src: url('../../fonts/Gotham-Book.eot');
	src: url('../../fonts/Gotham-Book.eot#iefix'),
			 url('../../fonts/Gotham-Book.woff') format('woff'),
			 url('../../fonts/Gotham-Book.ttf') format('truetype'),
			 url('../../fonts/Gotham-Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham-BookItalic';
	src: url('../../fonts/Gotham-BookItalic.eot');
	src: url('../../fonts/Gotham-BookItalic.eot#iefix'),
			 url('../../fonts/Gotham-BookItalic.woff') format('woff'),
			 url('../../fonts/Gotham-BookItalic.ttf') format('truetype'),
			 url('../../fonts/Gotham-BookItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham-Bold';
	src: url('../../fonts/Gotham-Bold.eot');
	src: url('../../fonts/Gotham-Bold.eot#iefix'),
			 url('../../fonts/Gotham-Bold.woff') format('woff'),
			 url('../../fonts/Gotham-Bold.ttf') format('truetype'),
			 url('../../fonts/Gotham-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham-BoldItalic';
	src: url('../../fonts/Gotham-BoldItalic.eot');
	src: url('../../fonts/Gotham-BoldItalic.eot#iefix'),
			 url('../../fonts/Gotham-BoldItalic.woff') format('woff'),
			 url('../../fonts/Gotham-BoldItalic.ttf') format('truetype'),
			 url('../../fonts/Gotham-BoldItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham-Ultra';
	src: url('../../fonts/Gotham-Ultra.eot');
	src: url('../../fonts/Gotham-Ultra.eot#iefix'),
			 url('../../fonts/Gotham-Ultra.woff') format('woff'),
			 url('../../fonts/Gotham-Ultra.ttf') format('truetype'),
			 url('../../fonts/Gotham-Ultra.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham-UltraItalic';
	src: url('../../fonts/Gotham-UltraItalic.eot');
	src: url('../../fonts/Gotham-UltraItalic.eot#iefix'),
			 url('../../fonts/Gotham-UltraItalic.woff') format('woff'),
			 url('../../fonts/Gotham-UltraItalic.ttf') format('truetype'),
			 url('../../fonts/Gotham-UltraItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}