/**
*
*
* properties listed AZ
* the order goes from least specific to most specific:
* tagnames -> classes -> IDs
* tagnames, classes and IDS are grouped shortest -> longest and AZ within
* tagnames, classes and IDS are listed AZ and
* classes comment tagname
* IDs comment [class/es &] tagname
*/


#splashAboutWrap {
	height: 164px;
	height: 16.4rem;
	left: 50%;
	margin: -82px 0 0 -206px;
	margin: -8.2rem 0 0 -20.6rem;
	perspective: 1200px;
	perspective: 120rem;
	position: relative;
	top: 50%;
	width: 412px;
	width: 41.2rem;
	
	
	// display: none !important; // delete after done w. tutorial style
}

.no-js #splashAboutWrap,
.oldIe #splashAboutWrap {
	display: none;
}

#splashAbout {
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transition: transform 1s;
	width: 100%;
}

#splashAbout:after,
#splashAbout:before {
	// fixes a bug in chrome that prevents the h1 from animating
	display: none;
}

.csstransforms3d #splashAbout.showAbout {
	transform: translateZ( -82px ) rotateX( -90deg );
	transform: translateZ( -8.2rem ) rotateX( -9rem );
}

.noSplashTransforms #splashAbout.showAbout {
	transform: none;
}

.csstransforms3d #splashAbout.hideAbout {
	transform: translateZ( -82px );
	transform: translateZ( -8.2rem ); 
}

.noSplashTransforms #splashAbout.hideAbout {
	transform: none;
}

#splashAbout > * {
	height: 100%;
	position: absolute;
	width: 100%;
	// see below
}

/* fixes the visible distorted text in the back
	 you have to re-write the full property cuz moz doesn't
	 accept changing just transition-delay */

.csstransforms3d #splashAbout.hideAbout #rectTop,
.csstransforms3d #splashAbout.showAbout #rectFront {
	transition: opacity 200ms linear 650ms;
	opacity: 0;
}

.csstransforms3d #splashAbout.showAbout #rectTop,
.csstransforms3d #splashAbout.hideAbout #rectFront {
	transition: opacity 200ms linear 0;
	opacity: 1;
}

.noSplashTransforms #splashAbout.hideAbout #rectTop,
.noSplashTransforms #splashAbout.showAbout #rectTop,
.noSplashTransforms #splashAbout.showAbout #rectFront,
.noSplashTransforms #splashAbout.hideAbout #rectFront {
	transition: none;
}

#rectFront {
	transform: translateZ( 82px );
	transform: translateZ( 8.2rem );
}

#rectTop {
	transform: rotateX( 90deg ) translateZ( 82px ); 
	transform: rotateX( 9rem ) translateZ( 8.2rem ); 
}

.no-csstransforms #rectTop,
.no-csstransforms3d #rectTop,
.noSplashTransforms #rectTop { // current opera has no css 3d transforms
	opacity: 0;
	transform: none;
}

#splashAboutHeader {
	color: #fff;
	font-size: 30px;
	font-size: 3rem;
	text-shadow: 1px 1px 0 $side;
	text-shadow: 0.1rem 0.1rem 0 $side;
	opacity: 1;
	padding: 40px 0 0 70px;
	padding: 4rem 0 0 7rem;
}

#splashAboutContent {
	//color: #fff;
	padding: 10px 16px;
	padding: 1rem 1.6rem;
}

.safari #splashAboutContent {
	/*
		you look into this for awhile, even the webkit mail group.
		there is no solution and this has been going on for 5 years.
		src: https://bugs.webkit.org/show_bug.cgi?id=23364
		it's a problem with the hardware.
		css tricks doesn't give a solution either, even though there's an article
		claiming a fix.
	*/
	-webkit-text-stroke: 0.45px
}

#splashAbout ul {
	// btn wrap
	// used during sign up
	// asking about tutorial
	height: 38px;
	height: 3.8rem;
	position: absolute;
	right: 10px;
	right: 1rem;
	width: 170px;
	width: 17rem;

	transition-duration: 0.5s;
	transition-property: height, right, width;
}

#splashAbout .continueWrap {
	// btn wrap
	// used during sign up
	// if doesn't want tutorial
	bottom: 30px;
	bottom: 3rem;
	right: 36px;
	right: 3.6rem;
	width: 110px;
	width: 11rem;

	transition-duration: 0.5s;
	transition-property: bottom, height, right, width;
}

#splashAbout .settings { // <span> imgs used 
	background-image: url(../../style-imgs/greySettingsIcon.svg);
	background-repeat: no-repeat;
	display: inline-block;
	height: 18px;
	height: 1.8rem;
	position: relative;
	top: 3px;
	top: 0.3rem;
	width: 18px;
	width: 1.8rem;
	
	transition-duration: 0.5s;
	transition-property: height, width;
}

.no-svg #splashAbout .settings {
	background-image: url(../../style-imgs/greySettingsIcon.png);
}




#splashNav {
	position: absolute;
	top: 10px;
	top: 1rem;
	right: 10px;
	right: 1rem;
	width: 100px;
	width: 10rem;
	z-index: 1;
	
	transition: width, 0.5s;
	
	
	// display: none !important; // delete after done w. tutorial style
}

.no-js #splashNav,
.oldIe #splashNav {
	display: none;
}

.buttonWrap.sky:before {
	border: 1px solid #fff;
	border-width: 1px 0 0 1px;
	left: 5px;
	left: 0.5rem;
	height: 100%;
	opacity: 0;
	top: 5px;
	top: 0.5rem;
	width: 100%;
}

.buttonWrap.sky:hover:before {
	background-color: rgba(0,221,255,1);
	opacity: 1;
}

.no-rgba button.sky:before {
	background-color: $interactive;
}

.buttonWrap.sky {
	float: left;
	margin: 0 0 10px 0;
	margin: 0 0 1rem 0;
	opacity: 0.9999;
	padding: 1px 3px 3px 1px;
	padding: 0.1rem 0.3rem 0.3rem 0.1rem;
	
	transition: padding, 0.5s;
}

#splashAbout .buttonWrap.sky {
	// used during sign up
	// asking about tutorial
	margin: 0 10px 10px 0;
	margin: 0 1rem 1rem 0;
}

#splashAbout .buttonWrap.sky + .buttonWrap.sky {
	// used during sign up
	// asking about tutorial
	margin: 0 0 10px 0;
	margin: 0 0 1rem 0;
}

.-moz- #splashAbout .buttonWrap.sky + .buttonWrap.sky {
	// fixes a bug in the skip button on the tutorial prompt
	// the right border is funky w/out
	padding: 1px 2px 3px 1px;
	padding: 0.1rem 0.2rem 0.3rem 0.1rem;
	// reset for media query
	// doesn't align in small w/out
	top: auto;
}

.buttonWrap.sky:hover > button {
	// see .buttonWrap.sky:hover:before for background
	transform: translate(7px, 7px);
	transform: translate(0.7rem, 0.7rem);
}

.no-csstransforms .buttonWrap.sky:hover > button {
	top: 7px;
	left: 7px;
}

.buttonWrap.sky:last-child {
	margin: 0;
}

button.sky:before {
	border: 1px solid #fff;
	border-width: 0 1px;
	box-sizing: content-box;
	background-color: rgba(0,221,255,0.7);
	height: 3px;
	height: 0.3rem;
	width: 100%;
	left: 1px;
	left: 0.1rem;
	bottom: -4px;
	bottom: -0.4rem;
	transform: skewX(45deg);
}

button.sky {
	background-color: $interactive;
	background-color: rgba(0,221,255,0.5);
	border: 1px solid #fff;
	box-shadow: none;
	color: #fff;
	padding: 0 8px 3px 9px;
	padding: 0 0.8rem 0.3rem 0.9rem;
	text-align: left;
	

	
	transform: translate(0,0);
	transition: background-color 0.5s linear,
							transform 0.1s,
							height 0.5s, // m?s
							line-height 0.5s, // m?s
							padding 0.5s; // m?s
}

button.sky:after {
	background-color: $interactive;
	background-color: rgba(0,221,255,0.6);
	border-width: 1px 0;
	border-top-color: #fff;
	box-sizing: content-box;
	height: 100%;
	right: -4px;
	right: -0.4rem;
	top: 1px;
	top: 0.1rem;
	transform: skewY(45deg);
	width: 3px;
	width: 0.3rem;
}

.no-csstransitions #splashNav button {
	background: transparent;
}



@media (max-height: 500px) and (max-height: 200px) {
	#splashAboutWrap {
		left: 133px;
		left: 13.3rem;
		margin: -78px 0 0 100px;
		margin: -7.8rem 0 0 10rem;
		perspective: 30000px;
		perspective: 3000rem;
		top: 90px;
		top: 9rem;
	}
}

@media (#{$mainBreak}) {
	#splashAboutWrap {
		height: 170px;
		height: 17rem;
		width: 250px;
		width: 25rem;
		margin: -85px 0 0 -125px;
		margin: -8.5rem 0 0 -12.5rem;
		
		//overflow: hidden; 
	}
	
	.csstransforms3d #splashAbout.showAbout {
		transform: translateZ( -85px ) rotateX( -90deg );
		transform: translateZ( -8.5rem ) rotateX( -9rem ); 
	}

	.csstransforms3d #splashAbout.hideAbout {
		transform: translateZ( -85px );
		transform: translateZ( -8.5rem ); 
	}
	
	.no-csstransforms3d #splashAbout.hideAbout,
	.no-csstransforms3d #splashAbout.showAbout,
	.noSplashTransforms #splashAbout.hideAbout,
	.noSplashTransforms #splashAbout.showAbout {
		transform: none;
	}
	
	#rectFront {
		transform: translateZ( 85px );
		transform: translateZ( 8.5rem );
	}
	
	#splashAboutHeader {
		font-size: 25px;
		font-size: 2.5rem;
		padding: 42px 0 0 48px;
		padding: 5rem 0 0 2rem;
	}
	
	#rectTop {
		transform: rotateX( 90deg ) translateZ( 85px ); 
		transform: rotateX( 9rem ) translateZ( 8.5rem ); 
	}
	
	.no-csstransforms3d #rectTop,
	.noSplashTransforms #rectTop,
	.no-csstransforms3d #rectFront,
	.noSplashTransforms #rectFront {
		transform: none;
	}
	
	#splashAboutContent {
		padding: 8px 12px;
		padding: 0.8rem 1.2rem;
	}
	
	#splashAbout ul {
		// used during sign up
		// asking about tutorial
		height: 34px;
		height: 3rem;
		right: 7px;
		right: 0.7rem;
		width: 150px;
		width: 12.6rem;
	}
	
	#splashAbout .continueWrap {
		// btn wrap
		// used during sign up
		// if doesn't want tutorial
		bottom: 70px;
		bottom: 7rem;
		right: 8px;
		right: 0.8rem;
		width: 80px;
		width: 8rem;
	}
	
	.-moz- #splashAbout .buttonWrap.sky + .buttonWrap.sky {
		// fixes a bug in the skip button on the tutorial prompt
		// the right border is funky w/out
		padding: 1px 3px 3px 1px;
		padding: 0.1rem 0.3rem 0.3rem 0.1rem;
		// doesn't align correctly w/out
		top: 1px;
		top: 0.1rem;
	}
	
	
	#splashAbout .settings { // <span> imgs used 
		background-image: url(../../style-imgs/smallGreySettingsIcon.svg);
		height: 14px;
		height: 1.4rem;
		width: 14px;
		width: 1.4rem;
	}
	
	.no-svg #splashAbout .settings {
		background-image: url(../../style-imgs/smallGreySettingsIcon.png);
	}
	
	
	
	
	#splashNav {
		width: 72px;
		width: 7.2rem;
	}
	
	.buttonWrap.sky {
		margin: 0 0 0.5rem 0;
		padding: 2px 3px 3px 1px;
	}
	
	button.sky {
		height: 23px;
		line-height: 21px;
		padding: 0 5px;
	}
	
	button.sky:after {
		background-color: $interactive;
		background-color: rgba(0,221,255,0.6);
		border-width: 1px 0;
		border-top-color: #fff;
		box-sizing: content-box;
		height: 100%;
		right: -4px;
		right: -0.4rem;
		top: 1px;
		top: 0;
		transform: skewY(45deg);
		width: 3px;
		width: 0.3rem;
	}
}

@media (max-height: 400px) {
	.-moz- #splashAboutWrap {
		overflow: hidden; // prevents scroll in firefox
	}
}